*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
}

body{
    position: relative;
    background: rgb(3, 15, 31);
    background-image: radial-gradient(
        circle at top center,
        rgb(66, 180, 193) 0%,
        rgb(3, 3, 31) 76%
    );
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*somthing here*/
.slider{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 50px 0;
    overflow: hidden;
}

.slide{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 320px;
    aspect-ratio: 3/4; /* SEARCH THIS UP */
    border-radius: 20px;
    transition: all 0.8s;
    pointer-events: none;
    user-select: none;
}

.slide::after{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(86, 76, 76, 0.3);
    -webkit-backdrop-filter: blur(3px);
    border:1px solid rgba(222, 222, 222, 0.3);
    border-radius: inherit;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5 ease-in-out;
}

.slide img{
    border-radius: inherit;
    border: 4px solid rgba(255, 255, 255, 0.3);
}

.slide p {
    position: absolute;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    transform: translateY(0);
    z-index: 2;
    opacity: 1;
}

.control-btn {
    position: absolute;
    top: 50%;
    width: 50px;
    aspect-ratio: 1/1;
    font-size: 2.25rem;
    color: #6cfa84;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: transparent;
    background-image: radial-gradient(50% 115% at 50% -5%, 
        rgba(255,255,255,0.11) 0%, transparent 100%);
        box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.15),
        inset 0 5px 10px 0 rgba(255, 255, 255, 0.1),
        inset 0 2px 5px0 rgba(255, 255, 255, 0.4)
        inset 0 3px 20px 0 rgba(0, 0, 0, 0.25);
    border:0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
    animation: change-color 2s ease-in-out, change0size 1.5s linear infinite;
    will-change: transform;
};

.control-btn:hover{
    background-color: rgba(255, 255, 255, 0.05);
    animation: none;
}

.control-btn.prev {
    left: 25%;
    transform: rotate(0deg) translateY(-50%) scale(1);
}
.control-btn.next {
    right: 25%;
    transform: rotate(0deg) translateY(-50%) scale(1);
}

.control-btn.prev:not([disabled]):hover{
    transform: rotate(-15deg) translateY(-50%) scale(1.2);
}
.control-btn.next:not([disabled]):hover{
    transform: rotate(15deg) translateY(-50%) scale(1.2);
}


.control-btn.prev:is([disabeld]),
.control-btn.prev:is([disabeld]) {
    animation: none;
}

@media (max-width: 900px){
    .slide p {
        font-size: 1.5rem;
    }

    .control-btn.prev {
        left: 15%
    }

    .control-btn.next{
        right: 15%
    }
}

@media (max-width: 700px){
    .slide p {
        font-size: 1.25rem;
    }

    .control-btn {
         width: 40px;
         font-size: 1.8rem;
    }
}

@media (max-width: 560px){
    .slide {
        width: 220px;
    }

    .slide p {
        font-size: 1.1rem;
    }

    .control-btn {
        font-size: 1.5rem;
    }

    .control-btn.prev{ 
        left: 5%;
    }

    .control-btn.next{
        right: 5%;
    }
}